
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&display=swap');

*{
  margin: 0px;
  padding: 0px;
}
/* CONTENIDO */
/**/
html{
  height: 100%;
  margin: 0px;
  padding: 0px;
}

h1,h2,h3,h4,h5,h6{
margin:0px;
}

h5{
  font-size: 14px;
}
h6{
  font-size: 20px;
  font-family: 'Asap', sans-serif;
  font-weight: bold;
  color: #ff0000;
}

h5{
  margin-left: 10px;
  font-family: 'Kumbh Sans', sans-serif;
}
p, h4{
  width: 60%;
  font-family: 'Asap', sans-serif;
  margin: 0px;
}
h4{
  padding: 20px 0px;
}

img{
  height: auto;
}
.container {
  font-family: 'Kumbh Sans', sans-serif;
  box-sizing: content-box;
}

.header, .buscar, .menu, .usuario, .live{
  display:flex;
  flex-direction: row;
  padding: 10px;
  text-align: center;
  align-items: center;
}


.header2{
  display:flex;
  flex-direction: row;
  grid-template-rows: 4;
  text-align: center;
  align-items: center;
  background-color: #EFEFEF;
  gap: 20%;
}

.buscar, .menu{
  background-color: #EFEFEF;
  margin: 10px;
  border-radius: 5px;
}
.live{
font-style: italic;
font-weight: 900;
border: 1px #EFEFEF solid;
border-radius: 20px;
padding: 0.5%;
}
.logo{
  padding-left: 15%;
}
.usuario img{
  margin-left: 10px;
}
.usuario{
margin-left: 25%;
}

.aa h6{
font-size: italic;
font-weight: 100;
}
.aa h5{
font-size: italic;
}

.cronishop, .temp, .clubCr, .aa{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*.conteneHeader2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}*/

.clubCr{
  float: right;
  font-weight: 900;
}

.Titulos{
margin: 1%;
margin-top: 2%;
width: 60%;
}

.textostitulos{
  font-family: 'Asap', sans-serif;
}
#textost{
  font-family: 'Asap', sans-serif;
  font-weight: bolder;
}
#textost h6{
  padding-top: 10px;
  float: right;
  font-weight: 400;
  font-size: 15px;
  color: yellow;
  -webkit-text-stroke: 0.5px red;
}

#textost h1{
  text-align: center;
}
h1{
  font-size: 32px;
  justify-content: center;
}
#carouselExampleIndicators{
  width: 50%;
  height: 40%;
  display: inline;
}
#botonoficial{
background-color: rgb(255, 0, 0);
margin-top: 5%;
display: inline-block;
border-radius: 100%;
width:10px;
height: 10px;
}
#botonusuario{
  background-color: rgb(255, 255, 0);
  margin-top: 5%;
  display: inline-block;
  border-radius: 100%;
  width:10px;
  height: 10px;
}
#botonesgeneral{
position: relative;
}
h4{
  font-family: 'Asap', sans-serif;
  font-weight: normal;
  font-size: 20px;
}

.placas{
  display:grid;
  justify-content: flex-end;
  padding-bottom: 3%;
  margin-right:none;
  padding-left: 2%;
}
#placaimg{
padding-bottom: 5%;
}

.contenedor1{
  display: flex;
  flex-direction: row;
  gap:3%;
}
#comentarioNota{
  background-color: yellow;
  color: black;
}
span{
  background-color: red;
  color: white;
}
.btn {
  background-color: #ff0000;
  border-radius: 10px;
  color: #fff;
  /* text-transform: uppercase; */
  border: none;
  padding: 0.8rem 2.5rem;
  font-size: 1rem;
  margin-top: 0.5rem;
 cursor: pointer;

}
.btn2{
  background: transparent;
  border: none;
  color: #007fff;
  cursor: pointer;
}

.botonCrearPlaca, .botonvermas{
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgYpie{
  display: block;
}

.pieDeImg{
  background-color: gray;
}
.pieDeImg h6{
  font-size: 12px;
  padding: 0.5%;
  color: white;
}

.notaTexto h6{
  margin-bottom: 10px, 0px;
}
.notaTexto p{
  margin-bottom: 10px;
}
.aaa{
  text-align: center;
  justify-content: center;
  width: 60%;
}


.overlay{
  display: flex;
  position: absolute;
  top: 165vh;
  right:11vh;
  flex-direction: column;
  justify-content: center;
  float: right;
  width: 25%;
  border: 2px grey solid;
  padding: 10px;
}
/*  */
.no-mostrar{
  display: none;
}

#cruz{
  width: 6%;
  justify-content: flex-end;
  align-items: flex-end;
  float: right;
  padding-bottom: 10px;
}

.linea{
  display:flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px yellow solid;
}

.linea h6{
  font-size: 11px;
  padding-left: 5px;
}

.pieDeComen{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  float: right;
  margin: 10px 0px;
    filter: opacity(60%);
}

.pieDeComen img{
  width: 16px;
  height: 16px;
}

#share{
  margin-left: 10px;
}
.pieDeComen h6{
  color: black;
  font-size: 13px;
  padding: 2px;
}

.overlay p{
  width: 100%;
  border-bottom: 1px yellow solid;
  padding: 10px;
}

.placa{
  background: rgba(0, 0, 0, .7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#imgPlaca{
  width: 70%;
  justify-content: center;
  align-items: center;
}

#botonPlaca{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Inter', sans-serif;
  border: 0px;
  border-radius: 5px;
  background-color: none;
  box-shadow:  inset 0 -3em 3em rgba(0,0,0,0.9),
}

#cruzPlaca{
  height: auto;
  margin-left: 68%;
  justify-content: flex-end;
  align-items: flex-end;
  float: right;
  width: 2%;
  filter: invert(100%);

}

.placa button{
  margin-top: 10px;
  border-radius: 5px;
  background-color: yellow;
  color: black;
  border: none;
  font-weight: bolder;
  padding: 5px 15px;

}
#moderaFondo{
  width: 70%;
  padding: 2%;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;
  font-family: 'Asap', sans-serif;
  font-size: 16px;
}


.no-mostrar{
  display: none;
}

.contenedorcomentar {

}

.contenedorcomentariosabajo {

}

.comentar {
  background-color:rgb(215, 215, 215);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  margin: 5%;
  margin-left: 0;
  padding: 1%;
  width: 60%;
}

.comentariosabajo{
  background-color:rgb(215, 215, 215);
  border-radius: 5px;
  display: flex;

  margin: 5%;
  margin-left: 0;
  padding: 1%;
  width: 60%;
}
.comentar h3{
  font-size: 18px;
}

.comentariosgeneral p{
  margin-left: 2px;
  font-family: 'Asap', sans-serif;
  font-weight: normal;
  font-size: 16px;
}
.comentariosgeneral h2{
  font-family: 'Asap', sans-serif;
  position: relative;
  font-weight: bold;
  font-size: 18px;
  margin-left: 2%;
  margin-top:1%;
}

.piecomgrl h4 {
  position: relative;
  margin-top: 33px;
  left: 360px;
    font-size: 15px;
  text-align: right;
  align-items: flex-end;
  justify-content: flex-end;
}

.comentariosgeneral p {
  position: absolute;
  margin-top: 45px;
  margin-left: 55px;
  align-items: center;
  justify-content: center;
}

#imgcomentarios{
  width: 40px;
  height: 40px;
}

.piecomgrl {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  float: right;
  margin: 10px 0px;
}

#like {
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  left: 390px;
  width: 10px;
  height: 10px;
  margin-top: 58px;

}

#dislike {
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  left: 390px;
  width: 10px;
  height: 10px;
  margin-top: 58px;
}

.comentariosgeneral1{
  display: flex;
flex-direction: row;
  gap:3%;
}
.contenedor {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-align-items: center;
    align-items: center;
    display:flex;
    justify-content: flex-end;
    padding-bottom: 3%;
    margin-right:none;

}
.reaccion img{
  width: 20px;
  height: 20px;
}
.btn_reaccion {

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
         -o-flex-wrap: wrap;
            flex-wrap: wrap;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px 20px;
    border: none;
    background: #ff0000;
    border-radius: 8px;
    cursor: pointer;
}
.btn_reaccion > span {
    color: #fff;
}

.btn_reaccion .reacciones {
    display: flex;
    position: absolute;
    bottom: calc(100% + 10px);
    background-color: #D4E4FF;
    padding: 5px;
    border-radius: 5rem;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 200ms ease-in;
         -o-transition: all 200ms ease-in;
            transition: all 200ms ease-in;
    -webkit-transform: translateY(15px);
       -moz-transform: translateY(15px);
        -ms-transform: translateY(15px);
         -o-transform: translateY(15px);
            transform: translateY(15px);
}
.btn_reaccion:hover .reacciones {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
}
.btn_reaccion .reacciones::before {
    content: '';
    display: block;
    border-style: solid;
    border-color: transparent;
    border-width: 12px 12px 12px 12px;
    border-top-color: #D4E4FF;
    position: absolute;
    bottom: -24px;
    left: calc(50% - 12px);
}

.btn_reaccion .reaccion {
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    background-color: #fff;
    border-radius: 5rem;
    -webkit-transition: all 200ms ease-in;
         -o-transition: all 200ms ease-in;
            transition: all 200ms ease-in;
}
.btn_reaccion .reaccion + .reaccion {
    margin-left: 5px;
}
.btn_reaccion .reaccion i {
    font-size: 1.3rem;
}
.btn_reaccion .reaccion > span {
    display: block;
    width: auto;
    font-size: .9em;
    position: absolute;
    top: -1.5rem;
    font-weight: bold;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    color: #333;
    -webkit-transition: all 200ms ease-in;
         -o-transition: all 200ms ease-in;
            transition: all 200ms ease-in;
    -webkit-transform: translateY(15px);
       -moz-transform: translateY(15px);
        -ms-transform: translateY(15px);
         -o-transform: translateY(15px);
            transform: translateY(15px);
}
.btn_reaccion .reaccion:nth-child(1):hover > span,
.btn_reaccion .reaccion:nth-child(2):hover > span,
.btn_reaccion .reaccion:nth-child(3):hover > span,
.btn_reaccion .reaccion:nth-child(4):hover > span,
.btn_reaccion .reaccion:nth-child(5):hover > span {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
}
.btn_reaccion .reaccion:nth-child(1):hover {
    background-color: #4E88FF;
    color: #fff;
}
.btn_reaccion .reaccion:nth-child(2):hover {
    background-color: #FF3D3D;
    color: #fff;
}
.btn_reaccion .reaccion:nth-child(3):hover {
    background-color: #FF7D3D;
    color: #fff;
}
.btn_reaccion .reaccion:nth-child(4):hover {
    background-color: #A63DFF;
    color: #fff;
}
.btn_reaccion .reaccion:nth-child(5):hover {
    background-color: #FF3D3D;
    color: #fff;
}

/* animacion salto */
.btn_reaccion .reaccion:hover {
    -webkit-animation-duration: 500ms;
         -o-animation-duration: 500ms;
            animation-duration: 500ms;
    -webkit-animation-timing-function: ease-out;
         -o-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-name: saltar;
         -o-animation-name: saltar;
            animation-name: saltar;
}
@keyframes saltar {
    from {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
        transform: translateY(-15px);
    }
    to {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}



.piedepagina{
  display:flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  background-color: #ff0000;

}
.cronicapie{
margin-left: 5%;
margin-top: 10px;
margin-bottom: 10px;
}
.piedepagina2{
  background: #333;
  display:flex;
  flex-direction: row;
}
.cronicapie2{
  padding-top: 10px;
  padding-bottom: 13px;
border-bottom: 1px solid #494949;
margin-bottom: 2px;
}
.seccion1{
  margin-left: 5%;
  margin-top: 30px;
  margin-bottom: 100px;
 position: relative;

}
.secciones{
font-size: 15px;
font-weight: 500;
line-height: 20px;
color: #fff;
position: relative;
padding-left: 20px;
display: block;
padding-top: 10px;
padding-bottom: 13px;
 left: 990px;
}

.secciones2{
  position: relative;
  left: 960px;
}
#wrap {
  width: 80%;
  background: #fff;
}
.red-pink::selection {
  background: yellow;
  color: black;
}
